<doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    {{> nav}}
    {{> header}}
    <div class="container">
      <div class="row">
        {{> pages}}
        {{> tagList}}
      </div>
    </div>
    {{> footer}}
    {{> js}}
  </body>
</html>
