    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{#if cover}}
      <header class="intro-header" style="background-image: url({{cloudinary cover '{width:1600, height:800, crop:"fill"}'}})">
    {{else}}
      <header class="intro-header">
    {{/if}}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{title}}</h1>
                        <hr class="small">
                        <span class="subheading">{{exerpt}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
